.App {
  text-align: center;
}

.App-header {
  background-color: #149c82;
  /* height: 20vh; */
  padding: 3vh;
  color: white;
  position: relative;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-menu-link img {
  height: 100%;
}

.App-menu-link {
  position: absolute;
  top: 40%;
  bottom: 40%;
  left: 2vw;
  text-align: left;
}
