* {
  box-sizing: border-box;
}

*:not(svg) {
  color: #333333;
}

.App {
  text-align: center;
  overflow: hidden;
}

.App-header {
  background-color: #149c82;
  padding: 3vh;
  color: white;
  position: relative;
  text-align: left;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-menu-link {
  position: absolute;
  top: 40%;
  bottom: 40%;
  left: 2vw;
  text-align: left;
}

.App-menu.show {
  left: 0;
}

img {
  max-width: 100%;
}