.tab-link {
    width: 33.33%;
    float: left;
    padding: 20px;
    border-left: 1px solid #149c82;
    border-bottom: 0;
    color: #000;
    position: relative;
}

.tab-link:first-child {
    border: 0;
}

.tab-link.tab-link-active {
    background: transparent;
    color: #149c82;
}

.tab-link.tab-link-active:before {
    content: '';
    display: block;
    width: 100vw;
    height: 1px;
    position: absolute;
    right: 100%;
    top: 100%;
    background: #149c82;
}

.tab-link.tab-link-active:after {
    content: '';
    display: block;
    width: 100vw;
    height: 1px;
    position: absolute;
    left: 100%;
    top: 100%;
    background: #149c82;
}

.tab-links:after {
    content: '';
    display: block;
    clear: both;
}

.tab-content {
    padding: 20px;
}

ul.track-list {
    list-style: none;
    padding: 0;
    width: 100%;
}

li.track {
    padding: 10px;
    position: relative;
}

li.track img {
    position: absolute;
    left: 10px;
    top: 10px;
    max-height: 100%;
}
